* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15rem;
}

@font-face {
  font-family: "Mediator Web";
  src: url("https://db.onlinewebfonts.com/t/8b9adae463bffb26a8e8a43f81fe280b.eot");
  src: url("https://db.onlinewebfonts.com/t/8b9adae463bffb26a8e8a43f81fe280b.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8b9adae463bffb26a8e8a43f81fe280b.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/8b9adae463bffb26a8e8a43f81fe280b.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/8b9adae463bffb26a8e8a43f81fe280b.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/8b9adae463bffb26a8e8a43f81fe280b.svg#Mediator Web")
      format("svg");
}

@mixin text($font-size, $font-weight) {
  color: $text-color;
  font-size: $font-size;
  font-family: $font-text;
  font-weight: $font-weight;
}

@mixin button-red {
  @include text(1.2rem, 700);
  width: 15rem;
  height: 5rem;
  color: white;
  background-color: #b51628;
  box-shadow: 0 0 10px black;
  border-radius: 0.5rem;
  line-height: 1.55;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  &:hover {
    background: rgb(146, 33, 4);
    cursor: pointer;
  }
}
